p{ 
    color: #011e2e;
    font-size: 16px;
}

body{
    background-color: #EEECE1;
}

#gray{
    background-color: #9f9fad;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    border: 0px;
}

#header{
    background-color: #9f9fad;
    margin: -8px;
}

#nav{
    background-color: #005582;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#navh{
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    color:#EEECE1;
}

h1, h2, h3{
    color: #005582;
}

ol{
    list-style-type: none;
}

@media print {
      nav{
          display: none;
      }
  }