p{ 
    color: #011e2e;
    font-size: 16px;
}

body{
    background-color: #9f9fad;
    text-align: center;
}

#white { 
    background-color: #EEECE1;
    position: absolute right;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#gray{
    background-color: #9f9fad;
}

h1{
    color: #005582;
    font-weight: bold;
    display: block;
    background-color: #47E5BC;
    height: 180px;
    width: 180px;
    line-height: 180px;
    border-radius: 90px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

h2{
    color: #005582;
    display: block;
    background-color: #47E5BC;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: #005582;
}

a:hover{
    color: #AECFDF;
}

ul{
    list-style-type: none;
}