p{ 
    color: #011e2e;
    font-size: 16px;
}

body{
    background-color: #EEECE1;
}

#gray{
    background-color: #9f9fad;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    border: 0px;
}

#header{
    background-color: #9f9fad;
    margin: -8px;
}

h1, h2, h3{
    color: #005582;
}

ol{
    list-style-type: none;
}

@media print {
      nav{
          display: none;
      }
  }

  .card {
      display: none;
  }

   
  #url{
    display: block;
    max-width: 50%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #explanation{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #title{
    display: block;
    margin: auto;
    border: 3px blue;
  }

